apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lambda
  finalizers:
  # - resources-finalizer.argocd.argoproj.io
  - resources-finalizer.argocd.argoproj.io/background
spec:
  project: default
  source:
    repoURL: https://github.com/gwright99/aws_lambda.git
    path: manifests/
    targetRevision: HEAD
    directory:
      recurse: true
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      #prune: true           # Delete and replace
      # replace: true        # Causes outOfSync issues
---
apiVersion: batch/v1
kind: Job
metadata:
  generateName: deletelambda
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
  namespace: lambda
spec:
  template:
    spec:
      containers:
      - name: deletelambda
        image: nginx:latest
        command: ["/bin/bash"]
        args: ["-c", "chmod +x /tmp/purge.sh && bash /tmp/purge.sh"]
        volumeMounts:
          - name: purgescript
            mountPath: /tmp/
      volumes:
        - name: purgescript
          configMap:
            defaultMode: 0777   # To defeat ReadOnly
            name: purgescript
            items:
              - key: purge.sh
                path: purge.sh
      restartPolicy: Never